@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap");

:root {
    --accent-color: red;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 18px;
}

main {
    background-color: #111;
}

nav {
    background-color: rgba(1, 1, 1, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
nav a {
    color: white !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    color: var(--accent-color) !important;
}

nav .active {
    color: var(--accent-color) !important;
    font-weight: bold;
}

.navbar-toggler-icon {
    color: white !important;
}

.accent-color {
    color: var(--accent-color) !important;
}

.logo {
    font-family: "Rubik Glitch Pop", system-ui;
    color: white;
    font-size: 30px;
}

.user-profile img {
    width: 50px;
    height: 50px;
}

header.header-full {
    min-height: 100vh; /* Set the height of the header */
}
header.header-partial {
    min-height: 25vh; /* Set the height of the header */
}

header.header-semi-dark {
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.6) 25%,
            rgba(0, 0, 0, 0) 100%
        ),
        linear-gradient(
            to bottom right,
            rgba(0, 0, 0, 0.6) 25%,
            rgba(0, 0, 0, 0) 100%
        ),
        url("../images/header-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
header.header-dark {
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.6) 25%,
            rgba(0, 0, 0, 0) 100%
        ),
        linear-gradient(
            to bottom right,
            rgba(0, 0, 0, 0.6) 25%,
            rgba(0, 0, 0, 0.8) 100%
        ),
        url("../images/header-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.header-full .header-content {
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.header-partial .header-content {
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.sponsor > div {
    width: 40%;
}

.sponsor img {
    width: 50%;
    max-width: 200px;
}

.btn-primary {
    background-color: transparent !important;
    border: 1px solid white;
}
.btn-primary:hover {
    border: 1px solid red;
}

.randomize-parent {
    position: relative;
    /* background-color: #f5f5f5; */
}

.randomize-parent .card {
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1) 25%,
            rgba(0, 0, 0, 0) 100%
        ),
        linear-gradient(
            to bottom right,
            rgba(0, 0, 0, 0.5) 25%,
            rgba(0, 0, 0, 1) 100%
        ),
        url("../images/header-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 40vh;
}

.randomize img {
    width: 100%;
    max-width: 350px;
}

.randomize-parent .btn-randomize {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);

    color: white !important;
}

footer {
    background: #111;
    margin-top: 30vh;
    border-top: 7px solid var(--accent-color);
}

footer a:hover {
    color: var(--accent-color) !important;
}

.open {
    display: initial !important;
}

.open-nav {
    min-height: 100vh !important;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;

    flex-direction: column !important;
}

.open-nav.navbar-nav {
    background-color: black;
    padding-top: 50px;
}

.open-nav.item-third {
    display: flex !important;
    justify-content: end;

    padding-bottom: 50px;
}

.open-nav.bars {
    position: absolute;
    top: 20px;
    right: 20px;
}

.search-bar {
    position: relative;
}
.search-bar input {
    padding: 5px 0px 5px 40px !important;
    width: 200px;
}

.fa-magnifying-glass {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(5px, -50%);
}

.movie-poster img {
    width: 30vh;
    max-width: 500px;
}

/* Loader styles */
#loader {
    position: fixed;
    inset: 0;
    background-color: #111;
    z-index: 99999;
}

.letter {
    display: inline-block;
    animation: changeColor 1s infinite;
}

.letter:nth-child(1) {
    animation-delay: 0s;
}

.letter:nth-child(2) {
    animation-delay: 0.1s;
}

.letter:nth-child(3) {
    animation-delay: 0.2s;
}

.letter:nth-child(4) {
    animation-delay: 0.3s;
}

.letter:nth-child(5) {
    animation-delay: 0.4s;
}

.letter:nth-child(6) {
    animation-delay: 0.5s;
}

@keyframes changeColor {
    0%,
    100% {
        color: #fff;
    }
    50% {
        color: var(--accent-color);
    }
}

.movie.card {
    width: 80% !important;
    margin-bottom: 1rem;
}

.movie.card img {
    width: 100%;
    height: 50vh;
    transition: transform 0.3s ease, object-fit 0.3s ease; /* Add transition for smooth effect */
}

.movie.card:hover img {
    border-radius: 24px;
    border: 3px solid red;
    transform: scale(1.1);
}

.movie.card h3 {
    font-size: 20px;
}

.movie.card p {
    font-size: 16px;
}

@media (min-width: 768px) {
    .movie.card img {
        height: 40vh;
    }
    .movie.card {
        width: 18rem !important;
    }
}

@media (min-width: 960px) {
    .movie-image {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .fs-1 {
        font-size: 6rem !important;
    }
}
